@model test.Models.Propiedad

@{
    ViewData["Title"] = "Crear Propiedad";
    var listaPropietarios = (IList<Propietario>)ViewBag.Propietarios;
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card border-primary">
                <div class="card-header bg-primary text-white text-center">
                    <h1 class="display-4">Crear Propiedad</h1>
                </div>
                <div class="card-body">
                    <form asp-action="Create">
                        <div class="mb-3">
                            <label for="fNombre" class="form-label">Nombre</label>
                            <input type="text" class="form-control custom-input" id="fNombre" name="Nombre" required>
                        </div>

                        <div class="mb-3">
                            <label for="fDescripcion" class="form-label">Descripcion</label>
                            <input type="text" class="form-control custom-input" id="fDescripcion" name="Descripcion"
                                required>
                        </div>

                        <div class="mb-3">
                            <label for="fPrecio" class="form-label">Precio</label>
                            <input type="text" class="form-control custom-input" id="fPrecio" name="Precio" required>
                        </div>

                        <div class="mb-3">
                            <label for="fDireccion" class="form-label">Direccion</label>
                            <input type="text" class="form-control custom-input" id="fDireccion" name="Direccion"
                                required>
                        </div>

                        <div class="mb-3">
                            <label for="fHabitaciones" class="form-label">Habitaciones</label>
                            <input type="text" class="form-control custom-input" id="fHabitaciones" name="Habitaciones"
                                required>
                        </div>

                        <div class="mb-3">
                            <label for="fBanos" class="form-label">Baños</label>
                            <input type="number" class="form-control custom-input" id="fBanos" name="Banos" required>
                        </div>

                        <div class="mb-3">
                            <label for="fArea" class="form-label">Area</label>
                            <input type="text" class="form-control custom-input" id="fArea" name="Area" required>
                        </div>

                        <div class="mb-3">
                            <label for="fPropietarioId" class="form-label">Dueño</label>
                            <select class="form-select custom-input" id="fPropietarioId" name="PropietarioId" required>
                                <option value="">Selecciona un dueño</option>
                                @foreach (var propietario in listaPropietarios)
                                {
                                    <option value="@propietario.IdPropietario">@propietario.Nombre @propietario.Apellido -
                                        @propietario.IdPropietario
                                    </option>
                                }
                            </select>
                        </div>

                        <div class="text-center">
                            <button class="btn btn-primary btn-lg explode-btn">
                                <i class="fas fa-save"></i> Guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
