@model test.Models.Usuario

@{
    ViewData["Title"] = "Crear Usuario";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card border-primary">
                <div class="card-header bg-dark text-white text-center">
                    <h1 class="display-4">Crear Usuario</h1>
                </div>
                <div class="card-body">
                    <form asp-action="Create" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="fNombre" class="form-label">Nombre</label>
                            <input type="text" class="form-control custom-input" id="fNombre" name="Nombre" required>
                        </div>

                        <div class="mb-3">
                            <label for="fApellido" class="form-label">Apellido</label>
                            <input type="text" class="form-control custom-input" id="fApellido" name="Apellido"
                                required>
                        </div>

                        <div class="mb-3">
                            <label for="fEmail" class="form-label">Email</label>
                            <input type="email" class="form-control custom-input" id="fEmail" name="Email" required>
                        </div>

                        <div class="mb-3">
                            <label for="fPassword" class="form-label">Password</label>
                            <input type="password" class="form-control custom-input" id="fPassword" name="Password"
                                required>
                        </div>

                        <div class="mb-3">
                            <label for="fAvatar" class="form-label">Avatar</label>
                            <input type="file" class="form-control custom-input" id="fAvatar" name="AvatarFile">
                        </div>

                        <div class="mb-3">
                            <label for="fRol" class="form-label">Rol</label>
                            <select class="form-control custom-input" id="fRol" name="Rol" required>
                                <option value="1">Admin</option>
                                <option value="2">Empleado</option>
                            </select>
                        </div>

                        <div class="text-center">
                            <button class="btn btn-primary btn-lg explode-btn">
                                <i class="fas fa-save"></i> Guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
