@model test.Models.Usuario

@{
    ViewData["Title"] = "Edit";
}

<h4>Editar Usuario</h4>
<hr />

<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit" class="needs-validation" novalidate>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Nombre" class="control-label">Nombre</label>
                <input asp-for="Nombre" class="form-control" required />
                <div class="invalid-feedback">Por favor, ingresa el nombre.</div>
            </div>

            <div class="form-group">
                <label asp-for="Apellido" class="control-label">Apellido</label>
                <input asp-for="Apellido" class="form-control" required />
                <div class="invalid-feedback">Por favor, ingresa el apellido.</div>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" class="form-control" type="email" required />
                <div class="invalid-feedback">Por favor, ingresa un correo electr칩nico v치lido.</div>
            </div>
            @if (User.Identity.Name == Model.Email)
            {
                <div class="form-group">
                    <a asp-action="CambiarContrase침a" asp-route-id="@Model.IdUsuario" class="btn btn-warning">Cambiar
                        Contrase침a</a>
                </div>
            }

            <div class="form-group">
                @if (!string.IsNullOrEmpty(Model.Avatar))
                {
                    <label asp-for="Avatar" class="control-label">Avatar</label>

                    <br />
                    <img src="@Model.Avatar" width="100" class="img-fluid rounded" />
                }
                else
                {
                    <p>Sin avatar</p>
                }
            </div>

            <div class="form-group">
                @if (string.IsNullOrEmpty(Model.Avatar))
                {
                    <a asp-action="CambiarAvatar" class="btn btn-warning">Agregar Avatar</a>
                }
                else
                {
                    <a asp-action="CambiarAvatar" class="btn btn-warning">Cambiar Avatar</a>
                }
            </div>

            @if (User.IsInRole("Admin"))
            {
                <div class="form-group">
                    <label asp-for="Rol" class="control-label">Rol</label>
                    <select asp-for="Rol" class="form-control" required>
                        <option value="1">Admin</option>
                        <option value="2">Empleado</option>
                    </select>
                    <div class="invalid-feedback">Por favor, selecciona un rol.</div>
                </div>
            }
            <input type="hidden" asp-for="IdUsuario" />

            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
</div>
