@model List<test.Models.Propietario>
@{
    ViewData["Title"] = "Crear Propietario";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="">
                <div class="text-center">
                    <h1 class="display-4">Crear Propietario</h1>
                </div>
                <form asp-action="Create">
                    <div class="form-group mb-3">
                        <label for="fNombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="fNombre" name="Nombre" required>
                    </div>

                    <div class="form-group mb-3">
                        <label for="fApellido" class="form-label">Apellido</label>
                        <input type="text" class="form-control" id="fApellido" name="Apellido" required>
                    </div>

                    <div class="form-group mb-3">
                        <label for="fDni" class="form-label">Dni</label>
                        <input type="text" class="form-control" id="fDni" name="Dni" required>
                    </div>

                    <div class="form-group mb-3">
                        <label for="fTelefono" class="form-label">Teléfono</label>
                        <input type="text" class="form-control" id="fTelefono" name="Telefono" required>
                    </div>

                    <div class="form-group mb-3">
                        <label for="fEmail" class="form-label">Email</label>
                        <input type="email" class="form-control" id="fEmail" name="Email" required>
                    </div>

                    <div class="form-group mb-3">
                        <label for="fClave" class="form-label">Clave</label>
                        <input type="password" class="form-control" id="fClave" name="Clave" required>
                    </div>

                    <div class="text-center">
                        <button class="btn btn-custom">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



