.card-with-gradient {
    background-image: linear-gradient(to bottom, #333333, #000000);

}


.btn-with-gradient {
    background-image: linear-gradient(to bottom, #333333, #000000);

    color: rgb(205, 201, 201);

}

.btn-with-gradient:hover {
    color: white;
}