body {
    background-color: #f2f2f2;
    font-family: 'Arial', sans-serif;
    background-image: url('~/img/logo.jpg');

}

header {
    background-color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    color: #ffffff;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar-brand:hover {
    color: #ffffff;
}

.nav-link {
    color: white !important;
    transition: color 0.3s;
}

.nav-link:hover {
    color: black;
}

.nav-item {
    transition: transform 0.2s, box-shadow 0.2s;
}

.nav-item:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
}



.footer {
    background-color: gray;
    padding: 15px 0;
    text-align: center;
}


.navbar-dark .navbar-nav .nav-item.dropdown:hover .nav-link,
.navbar-dark .navbar-nav .nav-item.dropdown:hover .dropdown-menu {
    background-color: #fffafa !important;

    color: white !important;

}


.navbar-dark .navbar-nav .nav-item.dropdown:hover .dropdown-menu {
    background-color: #555 !important;

}

.dropdown-item:hover {
    background-color: black;
}

.navbar-logo {
    display: inline-block;
    vertical-align: middle;
    width: 70px;
}